<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivy.root.dao.AppointmentMapper" >
  <resultMap id="BaseResultMap" type="com.ivy.root.domain.Appointment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="designer_id" property="designerId" jdbcType="BIGINT" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_phone_number" property="customerPhoneNumber" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="del_flag" property="delFlag" jdbcType="TINYINT" />
    <result column="del_time" property="delTime" jdbcType="TIMESTAMP" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="project_type" property="projectType" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, designer_id, customer_name, customer_phone_number, create_time, status, del_flag, 
    del_time, note, project_type, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_appointment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_appointment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ivy.root.domain.Appointment" >
    insert into t_appointment (id, designer_id, customer_name, 
      customer_phone_number, create_time, status, 
      del_flag, del_time, note, 
      project_type, address)
    values (#{id,jdbcType=BIGINT}, #{designerId,jdbcType=BIGINT}, #{customerName,jdbcType=VARCHAR}, 
      #{customerPhoneNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{delFlag,jdbcType=TINYINT}, #{delTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, 
      #{projectType,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ivy.root.domain.Appointment" >
    insert into t_appointment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="designerId != null" >
        designer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerPhoneNumber != null" >
        customer_phone_number,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="delTime != null" >
        del_time,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="projectType != null" >
        project_type,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="designerId != null" >
        #{designerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhoneNumber != null" >
        #{customerPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="delTime != null" >
        #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ivy.root.domain.Appointment" >
    update t_appointment
    <set >
      <if test="designerId != null" >
        designer_id = #{designerId,jdbcType=BIGINT},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerPhoneNumber != null" >
        customer_phone_number = #{customerPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="delTime != null" >
        del_time = #{delTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="projectType != null" >
        project_type = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ivy.root.domain.Appointment" >
    update t_appointment
    set designer_id = #{designerId,jdbcType=BIGINT},
      customer_name = #{customerName,jdbcType=VARCHAR},
      customer_phone_number = #{customerPhoneNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      del_flag = #{delFlag,jdbcType=TINYINT},
      del_time = #{delTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      project_type = #{projectType,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryAppointmentByCondition" parameterType="com.ivy.root.common.request.AppointmentRequest" resultMap="BaseResultMap">
    select * from t_appointment
    where 1 = 1
    <if test="designerId != null">
      and designer_id = #{designerId}
    </if>
    <if test="delFlag != null">
      and del_flag = #{delFlag}
    </if>
  </select>

</mapper>